@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes zoom-in-out {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

@font-face {
  font-family: 'Staatliches';
  src: url('./fonts/Staatliches/Staatliches-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
